.NavLogo {
  height: 75px;
  width: 75px;
}

.Header {
  font-weight: bold;
}

.Home {
  text-align: center;
  color: black;
  position: absolute;
  width: 100%;
  background-image: url(https://i.imgur.com/7llCG2i.png);
  background-repeat: repeat;
}

.Assets {
  text-align: center;
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://i.imgur.com/7llCG2i.png);
  background-repeat: repeat;
}

.Post {
  margin: 5%;
}

.Content {
  text-align: center;
  width: 100%;
  position: relative;
  font-weight: bold;
}

.Media {
  max-width: 100%; 
  display:block; 
  height: auto;
  position: relative;
  padding-left: 5px;
}

/* Change height to 3rem for mobile */

.Asset-Imgs {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
}

.Gray-Background {
  background-color: grey;
}

.About {
  margin: 5%;
  margin-bottom: 0%;
  background-color: grey;
  height: 100vh;
  position: relative;
}

.Paragraph {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}